@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-fondo: hwb(0 100% 0% / 0.3); 
    --color-reglas: #04428d;
    --color-sombras: #04214636;

    --color-boton: #498de0;

    --color-texto: #04428d;

    --font-fira:"Fira Sans Condensed", sans-serif;
    --font-consola: monospace;
}


*{
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    color: var(--color-texto);
}

body{
    background-color: var(--color-fondo);
    width: auto;
    height: auto;
}
/*contenedor principal*/
.contenedor__main{
    width: 90%;
    height: 80vh;
    padding: 5.5% 0% 0% 2.929%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between ;
    background-color: var(--color-fondo);
    border-radius: 20px;
}

/*contenedor izquierdo de la pagina para ingrsar texto*/
.contenedor__texto__bnt{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    width: 65%;
}
.contenedor__ingrasar__texto{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    height: 100%;
}
.contenedor__logo__alura__ingresa_texto{
    display: flex;
    flex-direction: column;
}
.logo__Alura{
    width: 120px;
    height: 48px;
    margin-bottom: 40px;
}
.caja__ingrasa__texto{
    padding-left: 10%;
    padding-right: 10%;
    font-family: var(--font-consola);
    font-weight: 400;
    font-size: 32px;
    background: hwb(0 100% 0% / .1);
    /*quita stylos de texarea*/
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; 
    border-radius: 20px;
}
.texto__reglas{
    padding-left: 10%;
    margin-bottom: 10px;
    font-family: var(--font-consola);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-reglas);
}
.icono__esclamacion{
    width: 16px;
    height: 16px;
}
.contenedor__btn__encriptar__desencriptar{
    padding-left: 10%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-bottom: 2%;
}

.texto__encriptado{
    font-family: var(--font-consola);
    font-weight: 500;
    font-size: 28px;
    width: 84%;
    height: 82.73305084745762%;
    overflow: auto;
    display: none;
    color: red;
}

button{
    width: 45%;
    height: 67px;
    border-radius: 30px;
    border: solid var(--color-texto) 1px;
    background-color: var(--color-boton);
    color: var(--color-texto);
    font-family: var(--font-consola);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

button:hover{
    background-color: var(--color-btn-hover);
    border: solid var(--color-boton) 1px;
    color: var(--color-texto);
    cursor: pointer;
}

/*contenedor lado derecho de la pagina para desincriptar texto*/
.contenedor__texto__btn__encritado{
    min-width: 27.777777%;
    gap: 20px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color: var(--color-contenedor-salida);
    box-shadow: 0px 0px 15px var(--color-sombras);
    border-radius: 15px;
    align-items: center;
    color: var(--color-texto);
}

.img__lupa{
    width: 250px;
}

.contenedor__ningun__mensaje{
    width: auto;
    min-height: 112px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parrafo__ningun__mensaje{
    width: 336px;
    height: 58px;
    text-align: center;
    font-family: var(--font-consola);
    font-weight: 700;
    font-size: 24px;
}
.parrafo__ingresa__texto{
    width: 336px;
    height: 58px; 
    text-align: center;  
    font-family: var(--font-consola); 
    font-weight: 400;
    font-size: 16px;
}

.btn__copiar{
    width: 70%;
    display: none;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-family: var(--font-consola);
    width: 600;
    color: var(--color-reglas);
    font-size: 18px;
    font-style: italic;
}


/*
cambio para ser resposivo
*/
@media (max-width: 960px) {
    .contenedor__main{
        flex-direction: column;
        height: auto;
        padding-left: 0;
    }
    .contenedor__texto__btn__encritado{
        width: auto;
        margin: 3%;
        min-height: 10%;
        border-radius: 20;
    }
    .contenedor__ningun__mensaje{
        width: 100%;
    }
    .parrafo__ningun__mensaje{
        width: auto;
    }
    .parrafo__ingresa__texto{
        width: auto;
    }
    .contenedor__texto__bnt{
        width: 100%;
        height: 85%;
        margin-bottom: 2%;
        
    }

    .img__lupa{
        display: none;
    }    
    button{
        font-weight: 400;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .contenedor__main{
        padding: 0;
        margin: 2px 2px 0 2px;
        width: auto;
        
    }
    .contenedor__texto__bnt{
        width: 100%;
        height: 85%;
        margin-bottom: .5%;
    }

    .contenedor__btn__encriptar__desencriptar {
        padding-left: 2%;
        padding-right: 2%;
    }
}