@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
:root{
    --color-primario: #f2f5fcff;
    --color-secundario: #0a3870ff;
    --color-terciario: #fc6572ff;
    --color-cuarto: #dae7edff;
    --color-quinto: #555555;
    --color-sexto: #5ed5f2ff;
    --font-fira:"Fira Sans Condensed", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
body{
    background-color: var(--color-primario);
    width: auto;
    height: auto;
}
/*contenedor principal*/
.contenedor__main{
    width: 90%;
    height: 80vh;
    padding: 3%;
    margin: 2% auto 0 auto;
    display: flex;
    justify-content: space-between ;
    border: 1px solid var(--color-quinto);
    box-shadow: 5px 5px 5px var(--color-cuarto);
}

/*contenedor izquierdo de la pagina para ingrsar texto*/
.contenedor__texto__bnt{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    width: 80%;
}
.contenedor__ingrasar__texto{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.contenedor__logo__alura__ingresa_texto{
    display: flex;
    flex-direction: column;
}
.logo__Alura{
    font-size: 68px;
    width: 120px;
    height: 48px;
    font-family: var(--font-fira);
    margin-bottom: 60px;
    color: var(--color-secundario);
}
.caja__ingrasa__texto{
    padding-left: 10%;
    padding-right: 10%;
    font-family: var(--font-fira);
    font-size: xx-large;
    background-color: var(--color-primario);
    /*quita stylos de texarea*/
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    
}
.texto__reglas{
    padding-left: 10%;
    font-size: 20px;
}
.icono__esclamacion{
    width: 17px;
    height: 17px;
}
.contenedor__btn__encriptar__desencriptar{
    padding-left: 10%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

button{
    width: 45%;
    height: 67px;
    border-radius: 25px;
    background-color: var(--color-sexto);
}
button:hover{
    background-color: var(--color-terciario);
}

/*contenedor lado derecho de la pagina para desincriptar texto*/
.contenedor__texto__btn__encritado{
   display: flex;
   flex-direction: column;
   justify-content:space-between ;
   background-color: #ffffff;
   border-radius: 15px;
   padding: 3%;
   box-shadow: 5px 5px 5px var(--color-cuarto);
}

.img__lupa{
    width: 250px;
}

/*
cambio para ser resposivo
*/
@media (max-width: 768px) {
    .contenedor__main{
        flex-direction: column;
        height: 130vh;
    }
    .contenedor__texto__bnt{
        width: 100%;
        height: 85%;
        margin-bottom: 2%;
    }
    .contenedor__texto__btn__encritado{
        align-items: center;
        gap: 20px;
    }
    .img__lupa{
        display: none;
    }    
}

@media (max-width: 375px) {
    .contenedor__main{
        padding: 0;
        margin: 2px 2px 0 2px;
        width: auto;
        height: 100vh;
    }
    .contenedor__texto__bnt{
        width: 100%;
        height: 85%;
        margin-bottom: .5%;
    }
    .contenedor__texto__btn__encritado{
        gap: 15px;
    }
    .contenedor__btn__encriptar__desencriptar {
        padding-left: 2%;
        padding-right: 2%;
    }
}